/*

*{
	font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
}
*/




/*nav*/


header{
      background:#4F0D51;
}

/*
nav{
	position:absolute;
	right:25px;
	top:65px;
}
*/

nav {
/*    position:relative;*/
    width: 100%;
    background:#4F0D51;
    
}

.navbar-brand img{
	width:400px;
}


/*
nav ul{
	list-style: none;
    position: absolute;
    right:25px;
    top:50px;
}
*/


nav li{
	display:inline-block;
}

nav a{
	text-decoration: none;
	font-size:18px;
	color:#ccc;
	padding:5px;
    font-family:Verdana,Tahoma,sans-serif;
}


ul li a{
    color:#fff;
}


nav a:hover{
	color:#fff;
	background:#FFDC00;
	border-radius:5px;
}


.navbar-toggler-icon {
    background-color:#FFDC10;
}


.hero{
	background: url(../images/hero_image.jpg);
	background-size:auto;
      background-repeat:no-repeat;
/*	background-position:center center;*/
	height:100vh;
}

